body {
}
.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
}

.cart-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-item-price {
    font-size: 14px;
    color: #777;
}