@page "/cart"
@using YummySharedLibrary
@using YummyDrop_online_store.Services.CartService;
@using YummyDrop_online_store.Services.BalanceService;
@inject IBalanceService _balance;
@inject ICartService _cart;


<html>
    <head>
    <link rel="stylesheet" href="css/cart_list.css">
    </head>
</html>

@foreach (var item in Cart)
{
    <div class="cart-item position-relative">
        <img src="@item.Image" alt="@item.Name" class="cart-item-image" />

        <div class="cart-item-details">
            <h3 class="cart-item-title">@item.Name</h3>
            <div class="cart-item-price">$@item.Cost</div>
        </div>

        <button type="button" class="btn btn-danger position-absolute top-0 end-0"
                onclick="@(() => deleteItem(item))">
            Delete
        </button>
    </div>
}


@code {
    private List<YummyItem> Cart;

    private void deleteItem(YummyItem item)
    {
        _cart.RemoveFromCart(item);
        _balance.AddToBalance(item.Cost);
        Cart = _cart.GetAllCartObjects();
        StateHasChanged();
    }


    protected override void OnInitialized()
    {
        Cart = _cart.GetAllCartObjects();
    }

    
}
