@page "/call-web-api"
@using YummyDrop_online_store.Models;
@using YummyDrop_online_store.Services.RandomizeService;
@using YummyDrop_online_store.Services.GeneratorService;
@inject IRandomizeService randomizer; 
@inject IGeneratorService generator; 

<div>
    <h1>This Api allows you to press the button and randomize an item</h1>
    <button @onclick="onGetRandomYummyItem"  style="border-radius: 10px;">Randomize YummyItem</button>

    @if (yummyItem != null)
    {
        <div>
            <label>Id:</label>
            <label>@yummyItem.Id</label>
        </div>
        <div>
            <label>Name:</label>
            <label>@yummyItem.Name</label>
        </div>
        <div>
            <label>Cost:</label>
            <label>@yummyItem.Cost</label>
        </div>
        <div>
            <label>DropChance:</label>
            <label>@yummyItem.DropChance</label>
        </div>
    }



</div>



@code {
    private YummyItem yummyItem; 

    private void onGetRandomYummyItem()
    {
        var items = generator.GenerateYummyItemsList(3);
        yummyItem = randomizer.GetRandomYummyItem(items);
        yummyItem.DropChance = (double.IsInfinity(yummyItem.DropChance)) ? 100 : yummyItem.DropChance;

    }

   
}
